<div>
    <div>
        <input #todo>
        <button (click)="addTodo(todo)">Add todo</button>
    </div>
    <ul>
        <li *ngFor="let todo of todos | async | visibleTodos:currentFilter" (click)="onTodoClick(todo.id)"
            [style.textDecoration]="todo.completed ? 'line-through' : 'none'">
            {{todo.text}}
        </li>
    </ul>

    <p>
        Show:
        <a href="#" (click)="applyFilter('SHOW_ALL');">All</a>
        <a href="#" (click)="applyFilter('SHOW_ACTIVE');">Active</a>
        <a href="#" (click)="applyFilter('SHOW_COMPLETED');">Completed</a>
    </p>
</div>


<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>


<!-- ngrx guthub sample -->
<!--
<button (click)="increment()">Increment</button>
<div>Current Count: {{ counter | async }}</div>
<button (click)="decrement()">Decrement</button>

<button (click)="reset()">Reset Counter</button>
-->

